################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/LemonCraft/bin/Debug
/LemonCraft/obj
/packages/SharpZipLib.0.86.0
/LemonCraft/bin/Release
